:root {
  --main-purple: #8278ED;
  --main-orange: #F96241;
  --main-font: 'Inter', sans-serif;
  --title-font: "Montserrat", sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Устанавливаем минимальную высоту */
  font-size: 16px;
}



body {
  background-image: url("assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex; /* Используем flexbox для дополнительного контроля */
  flex-direction: column;
  min-height: 100vh;
}